@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0ea5e9;
  --primary-foreground: #ffffff;
  --secondary: #64748b;
  --secondary-foreground: #ffffff;
  --muted: #f3f4f6;
  --border: #e5e7eb;
  --success: #22c55e;
  --danger: #ef4444;
  --mid-black: #637381;
  --gray-1: #d9d9d9;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0284c7;
    --secondary: #475569;
    --muted: #0f172a;
    --border: #1f2937;
    --success: #16a34a;
    --danger: #dc2626;
    --mid-black: #cbd5e1;
    --gray-1: #334155;
  }
}

.theme-light {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0ea5e9;
  --primary-foreground: #ffffff;
  --secondary: #64748b;
  --secondary-foreground: #ffffff;
  --muted: #f3f4f6;
  --border: #e5e7eb;
  --success: #22c55e;
  --danger: #ef4444;
  --mid-black: #637381;
  --gray-1: #d9d9d9;
}

body {
  background: var(--background);
  color: var(--foreground);
}
