@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0ea5e9;
  --primary-foreground: #ffffff;
  --secondary: #64748b;
  --secondary-foreground: #ffffff;
  --muted: #f3f4f6;
  --border: #e5e7eb;
  --success: #22c55e;
  --danger: #ef4444;
  --mid-black: #637381;
  --gray-1: #d9d9d9;
  --light-blue-0001: #ECF4FF;
  --black: #212B36;
  --light-green: #DFFBF5;
  --light-orange: #FFF9E6;
  --light-red: #FFEDED;
  --white: #FFFFFF;
  --white-soft: #FCFDFD;
  --white-overlay: #F2F4F436;
  --orange: #F4A100;
  --green: #00C897;
  --red: #D64545;
  --light-blue-100: #E8F1FF;
  --community-dark: #1A5F7A;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #0284c7;
    --secondary: #475569;
    --muted: #0f172a;
    --border: #1f2937;
    --success: #16a34a;
    --danger: #dc2626;
    --mid-black: #cbd5e1;
    --gray-1: #334155;
    --light-blue-0001: #0f172a;
    --black: #0b0f14;
    --light-green: #133c35;
    --white: #0a0a0a;
    --white-soft: #0b0b0b;
    --white-overlay: #0b0b0b66;
  }
}

.theme-light {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0ea5e9;
  --primary-foreground: #ffffff;
  --secondary: #64748b;
  --secondary-foreground: #ffffff;
  --muted: #f3f4f6;
  --border: #e5e7eb;
  --success: #22c55e;
  --danger: #ef4444;
  --mid-black: #637381;
  --gray-1: #d9d9d9;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

html, body {
  overflow-x: hidden;
}

::selection {
  color: var(--black);
  background: var(--white-overlay);
}
